{
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": false,
  "trailingComma": "none",
  "semi": true,
  "endOfLine": "auto",
  "indent": ["error", 2],
  "eslintIntegration": true,
  "stylelintIntegration": true
}
